{% extends "base.html" %}

{% block content %}
    <form id="searchForm" class="form" action="{{ url_for('find') }}">
        <h5 class="">Enter an artist's name below:</h5>
        <div class="input-group">
            <input type="text" class="form-control" id="artistInput" name="artist" placeholder="e.g. Radiohead" aria-describedby="artistButton" value="{{ data['artist_input'] }}">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-primary mb-2" id="artistButton">Search</button>
            </div>
        </div>
    </form>
    {% if 'found' in data and data['found'] %}
        <div class="alert alert-success my-2">
            {{ data['artist'] }} found with ID {{ data['artist_id'] }}.
        </div>
        <form id="generateForm" class="form pt-2" action="{{ url_for('generate') }}">
            <input type="hidden" name="artist" value="{{ data['artist'] }}">
            <input type="hidden" name="artist_input" value="{{ data['artist_input'] }}">
            <input type="hidden" name="artist_id" value="{{ data['artist_id'] }}">
            <div class="form-group row">
                <div class="col">
                    <label for="ngramInput" class="pt-1 pr-3">Size of n-grams:</label>
                </div>
                <div class="col">
                    <div class="input-group">
                        {% if data['ngrams'] is defined %}
                            <input type="text" class="form-control rounded-left" id="ngramInput" name="ngrams" value="{{ data['ngrams'] }}" aria-describedby="generateButton">
                        {% else %}
                            <input type="text" class="form-control rounded-left" id="ngramInput" name="ngrams" value="3" aria-describedby="generateButton">
                        {% endif %}
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="submit" id="generateButton">Generate</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% elif 'found' in data %}
        <div class="alert alert-danger my-2">
            Couldn't find "{{ data['artist_input'] }}".
        </div>
    {% endif %}
    {% block song %}
    {% endblock %}
    <script src="{{ url_for('static', filename='javascript/index.js') }}"></script>
{% endblock %}