{% extends "index.html" %}

{% block song %}
    <div class="d-flex justify-content-center">
        <div id="spinningDiv" class="spinner-border text-primary my-4" role="status">
            <span class="sr-only">Loading songs...</span>
        </div>
    </div>
    <div id="progressDiv" class="progress d-none">
        <div id="progressBar" class="progress-bar w-10" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div id="songDiv" class="d-none">
        <div class="text-center mb-3">
            <strong class="pb-2 squiggle">New song by {{ data['artist'] }} leaked!</strong>
        </div>
    </div>
    <script src="{{ url_for('static', filename='javascript/song.js') }}"></script>
{% endblock %}